[package]
name = "vespertide-cli"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde_json = "1"
vespertide-config = { path = "../vespertide-config" }

